form {
  display: flex;
  flex-direction: column;

  .role-control {
    display: flex;

    .mat-radio-group {
      display: flex;
      flex-grow: 1;
      justify-content: space-evenly;
    }
  }

  .role-control + .mat-form-field {
    margin-top: 12px;
  }
}
