<mat-chip-list multiple>
  <mat-chip [value]="0" [selected]="ratingsFilter[0]" (click)="selectRatingFilter(0)">
    0
    <mat-icon color="accent">star</mat-icon>
  </mat-chip>
  <mat-chip [value]="1" [selected]="ratingsFilter[1]" (click)="selectRatingFilter(1)">
    1
    <mat-icon color="accent">star</mat-icon>
  </mat-chip>
  <mat-chip [value]="2" [selected]="ratingsFilter[2]" (click)="selectRatingFilter(2)">
    2
    <mat-icon color="accent">star</mat-icon>
  </mat-chip>
  <mat-chip [value]="3" [selected]="ratingsFilter[3]" (click)="selectRatingFilter(3)">
    3
    <mat-icon color="accent">star</mat-icon>
  </mat-chip>
  <mat-chip [value]="4" [selected]="ratingsFilter[4]" (click)="selectRatingFilter(4)">
    4
    <mat-icon color="accent">star</mat-icon>
  </mat-chip>
  <mat-chip [value]="5" [selected]="ratingsFilter[5]" (click)="selectRatingFilter(5)">
    5
    <mat-icon color="accent">star</mat-icon>
  </mat-chip>
</mat-chip-list>
